*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding-top: 45px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  min-width: 100%; 
}

a{
  color: white;
  text-decoration: none;
}

img{
  aspect-ratio: attr(width)/attr(height);
}

/* Navigation*/
.nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -45px;
  background: black;
  padding: 5px 5%; 
  min-width: 100%; 
  border-bottom-style: outset;
  border-bottom-color: #FF0000;
  z-index: 1000;
}

/*Nav left index: no se referencia a si mismo*/
.nav-left-index{
  display: flex;
  align-items: center;
}

.nav-left-index h3{
  font-size: 18px;
  color: #FF0000;
  font-family: 'Cabin', sans-serif;
  transition: 0.4s;
}

.nav-left a{
  display: flex;
  align-items: center;
  transition: 0.4s;
}

.nav-brand{
  width: 50px;
  padding: 0 5px 0 10px;
  transition: 0.4s;
}

.nav-left h3{
  font-size: 18px;
  color: #FF0000;
  font-family: 'Cabin', sans-serif;
}

.nav div a h4{
  transition: color .7s;
}

.nav div a h4:hover{
  color: #FF0000;
}

.nav div a h3{
  color: #FF0000;
}

/* nav-res */
.nav-res{
  position: fixed;
  min-width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  border-bottom-style: outset;
  border-bottom-color: #FF0000;
  z-index: 100000;
  margin-top: -47px;
  padding: 5px 20px; 
}

.nav-res{
  display: none;
}

.menu-btn div{
  opacity: 0.7;
  cursor: pointer;
  background-color: #FF0000;
  transition: 0.4s;
  width: 40px;
  height: 4px;
  margin: 4px 0;
}

.nav-desplegable{
  position: fixed;
  min-width: 100%; 
  top: 75px;
  margin-left: -120%;
  background-color: black;
  min-height: 100%;
  opacity: 0.9;
  transition: 0.4s;
  z-index: 1000;
}

.nav-desplegable div{
  font-size: 30px;
  margin: 0 10vw;
  padding: 2vw;
  border-bottom-style: outset;
  border-bottom-color: #FF0000;
}

.nav-desplegable div a:hover{
  color: #FF0000;
}

.show-nav{
  translate: 120% 0;
}

.change-cross .bar1{
  translate: 0 8px;
  rotate: -45deg;
}

.change-cross .bar2{
  opacity: 0;
}

.change-cross .bar3{
  translate: 0 -8px;
  rotate: 45deg;
}

/* TODO: barra de busquedas*/ 
.srch-btn{
  cursor: pointer;
  color:  #FF0000;
  text-align: center;
  opacity: 0.7;
  transition: 0.4s;
  font-size: 30px;
}

.srch-btn:hover{
  opacity: 1;
}

.srch-btn2{
  cursor: pointer;
  color:  #FF0000;
  text-align: center;
  opacity: 0.7;
  transition: 0.4s;
  font-size: 30px;
  display: none;
}

.srch-btn2:hover{
  opacity: 1;
}

.srch-desplegable{
  position: fixed;
  background-color: rgba(145, 32, 32, 0.384);
  min-width: 100%;
  top: 75px;
  margin-top: -150px;
  transition: 0.4s;
  z-index: 900;
}

.show-srch{
  translate: 0 150px;
}

.change-srch {
  display: none;
}

.change-srch2{
  display: block;
}

#searchBox{
  height: min-content;
  padding: 2px;
  border-color: #FF0000;
}
#searchButton{
  height: 28px;
}

/*Showcase*/
/*Introduction*/

.introduction{
  background-color: #fff9f9;
  padding: 125px 10% 80px 10%;
  text-align: center;
  color: black;
}

.introduction h2{
  color: #FF0000;
  font-size: 70px;
  margin: auto;
}

.introduction p{
  padding: 65px;
  font-size: 25px;
  margin: auto;
}

.introduction-icons{
  margin: 0 80px;
  padding: 65px 0px;
  display: flex;
  justify-content: space-evenly;
}

.introduction-icons i{
  padding-bottom: 10px;;
  font-size: 100px;
  color: #FF0000;
}

.introduction-icons h3{
  font-size: 20px;
  color: #FF0000;
}

/*Latest-reviews*/
.latest-reviews-container{
  background-color: black;
  padding: 150px 0;
}

.latest-reviews-container h2{
  color: white;
  font-size: 60px;
  text-align: center;
}

.latest-reviews{
  display: flex;
  flex-wrap: wrap;
  color: black;
  padding: 0 55px;
  justify-content: space-evenly;
}

.latest-reviews div{
  flex: 1;
  margin: 20px 10px;
  background-color: #FFF9F9;
  border-radius: 20px;
  width: 460px;
  padding: 30px 30px 15px 30px;
  text-align: center;
}

.latest-reviews div img{
  width: 100%;
  min-width: 260px;
  object-fit: cover;
}

.latest-reviews a h3{
  font-size: 30px;
  padding: 10px 0;
  color: black;
}

.textlr{
  color: black;
}

.latest-reviews a p{
  font-size: 15px;
  padding: 10px 0;
  text-align: justify;
}


/*Hottest-reviews*/
.hottest-reviews-container{
  background-color: #FFF9F9;
  padding: 150px 0;
}

.hottest-reviews-container h2{
  color: #FF0000;
  font-size: 60px;
  text-align: center;
}

.hottest-reviews{
  display: flex;
  flex-wrap: wrap;
  color: #CFCDCD;
  padding: 0 55px;
  justify-content: space-evenly;
}

.hottest-reviews div{
  flex: 1;
  margin: 20px 10px;
  background-color: black;
  border-radius: 20px;
  padding: 30px 30px 15px 30px;
  width: 460px;
  text-align: center;
}

.hottest-reviews div img{
  width: 100%;
  min-width: 260px;
  object-fit: cover;
}

.hottest-reviews a h3{
  font-size: 30px;
  padding: 10px 0;
}

.hottest-reviews a p{
  font-size: 15px;
  padding: 10px 0;
  text-align: justify;
}

.review-date{
  font-size: 25px;
  color: #FF0000;
  text-align: left;
  font-weight: bolder;
}

/*TODO: Crear un carrusel d'articles*/

/* Footer Links */
.footer-links{
  background: black;
  font-size: 14px;
  padding: 35px 0;
  width: 100%;
}

.footer-container h2{
  color: #FF0000;
}

.footer-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 5px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container a{
  color: gray;
  transition: color .7s;
}

.footer-container a:hover{
  color: white;
}

.footer-container ul{
  margin: 0 auto;
}

.footer-container ul li{
  line-height: 2.4;
}

.footer-links-mobile{
  background: black;
  font-size: 14px;
  padding: 35px 0;
  width: 100%;
  display: none;
}

/* Footer */

.footer{
  background: black;
  display: flex;
  justify-content: space-between;
  color: #CFCDCD;
  font-size: 12px;
  border-top-style: outset;
  border-top-color: #FF0000;
}

/* Logo */

.left-foot{
  display: flex;
  margin: 5px;
}

.foot-logo{
  width: 80px;
}
.slogan{
  margin: auto;
}

.footer h4{
  color: white;
  font-size: 20px;
}

.footer p{
  color: #FF0000;
  font-size: 16px;
}

/* POliticas de Privacidad */
.center-foot{
  text-align: center;
  margin: auto;
}

.center-foot a h3{
  opacity: 0.7;
  font-size: 12px;
}

.center-foot h3{
  opacity: 0.5;
  font-size: 12px;
}

.politica{
  display: flex;
  justify-content: center;
}

.politica a h3{
  transition: 0.7s;
}

.pp{
  border-right-style: outset;
  border-right-color: #FF0000;
  padding-right: 10px;
}

.cookies{
  padding-left: 10px;
}

.politica a h3:hover{
  color: #FF0000;
}

/* Social */
.right-foot{
  margin: 5px;
}

.right-foot h3{
  text-align: center;
  font-size: 20px;
}

.links{
  display: flex;
  text-align: center;
  justify-content: flex-end;
}

.links a{
  margin: 0 15px;
}

.links a i{
  color: #FF0000;
  font-size: 3rem;
  opacity: 0.6;
  transition: opacity, font-size .7s;
}
.links a i:hover{
  opacity: 1;
  font-size: 3.5rem;
}

/*Footer mobile */
.footer-mobile{
  background: black;
  display: none;
  justify-content: space-between;
  color: #CFCDCD;
  font-size: 12px;
  border-top-style: outset;
  border-top-color: #FF0000;
  padding: 5px;
}

.footer-mobile-first-row{
  display: flex;
}


/* Responsive */

@media screen and (min-width: 1250px){
  .nav-desplegable{
    display: none;
  }

  .srch-desplegable{
    display: none;
  }

  .showcase{
    display: block;
  }

  .footer-links{
    display: block;
  }

  .footer{
    display: flex;
  }
 }

/* Adaptar a movil */

@media screen and (max-width: 1250px){
  .nav-res{
    display: flex;
   }
  
   .nav{
    display: none;
   }  

  .nav-brand{
    width: 80px;
  }
  
  .nav-left-index h3{
    font-size: 30px;
  }

  .nav-left h3{
    font-size: 30px;
  }
}

@media screen and (max-width: 550px){
  .footer-links{
    display: none;
  }

  .footer{
    display: none;
  }

  .footer-links-mobile{
    display: block;
  }

  .footer-mobile{
    display: block;
  }

  /* Nav responsive */
  .nav-brand{
    width: 65px;
  }

  .nav-left h3{
    font-size: 20px;
  }

  .nav-left-index h3{
    font-size: 20px;
  }

  .srch-desplegable{
    top: 60px;
  }

  .srch-btn{
    font-size: 20px;
  }

  .srch-btn2{
    font-size: 20px;
  }

  .menu-btn div{
    width: 30px;
    height: 3px;
    margin: 3px 0;
  }


  .change-cross .bar1{
    translate: 0 6px;
  }
  
  .change-cross .bar3{
    translate: 0 -6px;
  }

  .nav-desplegable{
    top: 58px;
  }

  .nav-desplegable div{
    font-size: 30px;
    margin: 0 10vw;
    padding: 5vw 2vw;
  }
  


  /*Footer Links Mobile*/

  .footer-container h2{
    color: #FF0000;
    font-size: 14px;
  }

  .footer-container a{
    font-size: 11px;
  }
  
  .footer-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
  }
  
  .footer-container a{
    color: gray;
    transition: color .7s;
  }
  
  .footer-container a:hover{
    color: white;
  }
  
  .footer-container ul{
    margin: 0 auto;
  }
  
  .footer-container ul li{
    line-height: 2.4;
  }

  /*Footer*/
  .footer-mobile-first-row{
    justify-content: space-between;
  }

  /* Logo */
  .foot-logo{
    width: 60px;
  }
  
  /* Social */
  .right-foot h3{
    font-size: 12px;
  }

  .links a{
    margin: 5px;
  }

  .links a i{
    font-size: 2rem;
  }
  .links a i:hover{
    font-size: 2.5rem;
  }

  /* POliticas de Privacidad */

  .center-foot a h3{
    font-size: 11px;
  }

  .center-foot h3{
    font-size: 11px;
  }

  /*Showcase*/
  /*Introduction*/

  .introduction{
    padding: 45px 5px;
    text-align: center;
    color: black;
  }

  .introduction h2{
    color: #FF0000;
    font-size: 50px;
    margin: auto;
  }

  .introduction p{
    padding: 20px 5px;
    font-size: 20px;
    margin: auto;
  }

  .introduction-icons{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .introduction-icons div{
    padding: 10px;
  }

  .introduction-icons i{
    padding-bottom: 10px;;
    font-size: 80px;
    color: #FF0000;
  }

  .introduction-icons h3{
    font-size: 16x;
    color: #FF0000;
  }

  /*Latest-reviews*/
  .latest-reviews-container{
    padding: 45px 5px;
  }

  .latest-reviews-container h2{
    font-size: 40px;
  }

  .latest-reviews{
    padding: 0 5px;
  }

  .latest-reviews a h3{
    font-size: 20px;
  }

  /*Hottest-reviews*/
  .hottest-reviews-container{
    padding: 45px 5px;
  }

  .hottest-reviews-container h2{
    font-size: 40px;
  }

  .hottest-reviews{
    padding: 0 5px;
  }

  .hottest-reviews a h3{
    font-size: 20px;
  }

  .review-date{
    font-size: 25px;
    color: #FF0000;
    text-align: left;
    font-weight: bolder;
  }
}
  

@media screen and (max-width: 320px){
.show-nav{
  translate: 105% 0;
}
}
/* TODO: cookies*/

/* TODO: anuncios */